<div class="container">
  <h1>All Wikis</h1>
  <h5><%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %></h5>
</div>

<h2>Wikis:</h2>
<% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki_path(wiki.id) %>
        </h4>
      </div>
    </div>
  <% end %>

  <% if (current_user && current_user.standard?) %>
      <h5>Upgrade to premium to make private Wikis! <%= link_to "Upgrade", new_charge_path, class: 'btn btn-success' %> </h5>
  <% end %>
