<table style-"width:100%">
<h1 style="color:purple;">Hello <%= @resource.email %>!</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Wikipedia_Logo_1.0.png/220px-Wikipedia_Logo_1.0.png" alt="wiki symbol">
<p>Someone has requested a link to change your password. You can do this through the link below.</p>


<p style="text-align:center;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<div style="width:75%;text-align:center;">
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
</div>
